<a href="https://colab.research.google.com/github/sakshikahandal/Project-folder-/blob/main/Vaccine_Prediction_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
df=pd.read_csv("h1n1_vaccine_prediction.csv")

In [ ]:
df.head()

,unique_id,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,...,race,sex,income_level,marital_status,housing_status,employment,census_msa,no_of_adults,no_of_children,h1n1_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,White,Female,Below Poverty,Not Married,Own,Not in Labor Force,Non-MSA,0.0,0.0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,White,Male,Below Poverty,Not Married,Rent,Employed,"MSA, Not Principle City",0.0,0.0,0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,White,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,"MSA, Not Principle City",2.0,0.0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,White,Female,Below Poverty,Not Married,Rent,Not in Labor Force,"MSA, Principle City",0.0,0.0,0
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,White,Female,"<= $75,000, Above Poverty",Married,Own,Employed,"MSA, Not Principle City",1.0,0.0,0

In [ ]:
df.shape

(26707, 34)

In [ ]:
df.isnull().sum()*100/len(df)

unique_id                     0.000000
h1n1_worry                    0.344479
h1n1_awareness                0.434343
antiviral_medication          0.265848
contact_avoidance             0.778822
bought_face_mask              0.071142
wash_hands_frequently         0.157262
avoid_large_gatherings        0.325757
reduced_outside_home_cont     0.307036
avoid_touch_face              0.479275
dr_recc_h1n1_vacc             8.087767
dr_recc_seasonal_vacc         8.087767
chronic_medic_condition       3.635751
cont_child_undr_6_mnths       3.070356
is_health_worker              3.010447
has_health_insur             45.957989
is_h1n1_vacc_effective        1.464036
is_h1n1_risky                 1.452803
sick_from_h1n1_vacc           1.479013
is_seas_vacc_effective        1.729884
is_seas_risky                 1.924589
sick_from_seas_vacc           2.010709
age_bracket                   0.000000
qualification                 5.268282
race                          0.000000
sex                           0.000000
income_level                 16.561201
marital_status                5.272026
housing_status                7.645936
employment                    5.477965
census_msa                    0.000000
no_of_adults                  0.932340
no_of_children                0.932340
h1n1_vaccine                  0.000000
dtype: float64

### if null values are greater than 5% than remove those columns

In [ ]:
for i in df:
    if (df[i].isnull().sum()>1500):
        df.drop(i,axis=1,inplace=True)
    else:
        df[i]

In [ ]:
df.isnull().sum()*100/len(df)

unique_id                    0.000000
h1n1_worry                   0.344479
h1n1_awareness               0.434343
antiviral_medication         0.265848
contact_avoidance            0.778822
bought_face_mask             0.071142
wash_hands_frequently        0.157262
avoid_large_gatherings       0.325757
reduced_outside_home_cont    0.307036
avoid_touch_face             0.479275
chronic_medic_condition      3.635751
cont_child_undr_6_mnths      3.070356
is_health_worker             3.010447
is_h1n1_vacc_effective       1.464036
is_h1n1_risky                1.452803
sick_from_h1n1_vacc          1.479013
is_seas_vacc_effective       1.729884
is_seas_risky                1.924589
sick_from_seas_vacc          2.010709
age_bracket                  0.000000
qualification                5.268282
race                         0.000000
sex                          0.000000
marital_status               5.272026
employment                   5.477965
census_msa                   0.000000
no_of_adults                 0.932340
no_of_children               0.932340
h1n1_vaccine                 0.000000
dtype: float64

In [ ]:
df.drop(["unique_id"],axis=1,inplace=True)

In [ ]:
df.isnull().sum()*100/len(df)

h1n1_worry                   0.344479
h1n1_awareness               0.434343
antiviral_medication         0.265848
contact_avoidance            0.778822
bought_face_mask             0.071142
wash_hands_frequently        0.157262
avoid_large_gatherings       0.325757
reduced_outside_home_cont    0.307036
avoid_touch_face             0.479275
chronic_medic_condition      3.635751
cont_child_undr_6_mnths      3.070356
is_health_worker             3.010447
is_h1n1_vacc_effective       1.464036
is_h1n1_risky                1.452803
sick_from_h1n1_vacc          1.479013
is_seas_vacc_effective       1.729884
is_seas_risky                1.924589
sick_from_seas_vacc          2.010709
age_bracket                  0.000000
qualification                5.268282
race                         0.000000
sex                          0.000000
marital_status               5.272026
employment                   5.477965
census_msa                   0.000000
no_of_adults                 0.932340
no_of_children               0.932340
h1n1_vaccine                 0.000000
dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   h1n1_worry                 26615 non-null  float64
 1   h1n1_awareness             26591 non-null  float64
 2   antiviral_medication       26636 non-null  float64
 3   contact_avoidance          26499 non-null  float64
 4   bought_face_mask           26688 non-null  float64
 5   wash_hands_frequently      26665 non-null  float64
 6   avoid_large_gatherings     26620 non-null  float64
 7   reduced_outside_home_cont  26625 non-null  float64
 8   avoid_touch_face           26579 non-null  float64
 9   chronic_medic_condition    25736 non-null  float64
 10  cont_child_undr_6_mnths    25887 non-null  float64
 11  is_health_worker           25903 non-null  float64
 12  is_h1n1_vacc_effective     26316 non-null  float64
 13  is_h1n1_risky              26319 non-null  float64
 14  sick_from_h1n1_vacc        26312 non-null  float64
 15  is_seas_vacc_effective     26245 non-null  float64
 16  is_seas_risky              26193 non-null  float64
 17  sick_from_seas_vacc        26170 non-null  float64
 18  age_bracket                26707 non-null  object
 19  qualification              25300 non-null  object
 20  race                       26707 non-null  object
 21  sex                        26707 non-null  object
 22  marital_status             25299 non-null  object
 23  employment                 25244 non-null  object
 24  census_msa                 26707 non-null  object
 25  no_of_adults               26458 non-null  float64
 26  no_of_children             26458 non-null  float64
 27  h1n1_vaccine               26707 non-null  int64
dtypes: float64(20), int64(1), object(7)
memory usage: 5.7+ MB

In [ ]:
df["age_bracket"].unique()

array(['55 - 64 Years', '35 - 44 Years', '18 - 34 Years', '65+ Years',
       '45 - 54 Years'], dtype=object)

In [ ]:
df["qualification"].unique()

array(['< 12 Years', '12 Years', 'College Graduate', 'Some College', nan],
      dtype=object)

In [ ]:
df["race"].unique()

array(['White', 'Black', 'Other or Multiple', 'Hispanic'], dtype=object)

In [ ]:
df["race"].replace(["Other or Multiple","Hispanic"],"others",inplace=True)

In [ ]:
df["race"].unique()

array(['White', 'Black', 'others'], dtype=object)

In [ ]:
df["sex"].unique()

array(['Female', 'Male'], dtype=object)

In [ ]:
df["marital_status"].unique()

array(['Not Married', 'Married', nan], dtype=object)

In [ ]:
df["employment"].unique()

array(['Not in Labor Force', 'Employed', 'Unemployed', nan], dtype=object)

In [ ]:
df["census_msa"].unique()

array(['Non-MSA', 'MSA, Not Principle  City', 'MSA, Principle City'],
      dtype=object)

In [ ]:
df.head()

,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,chronic_medic_condition,...,age_bracket,qualification,race,sex,marital_status,employment,census_msa,no_of_adults,no_of_children,h1n1_vaccine
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,55 - 64 Years,< 12 Years,White,Female,Not Married,Not in Labor Force,Non-MSA,0.0,0.0,0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,35 - 44 Years,12 Years,White,Male,Not Married,Employed,"MSA, Not Principle City",0.0,0.0,0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,18 - 34 Years,College Graduate,White,Male,Not Married,Employed,"MSA, Not Principle City",2.0,0.0,0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,65+ Years,12 Years,White,Female,Not Married,Not in Labor Force,"MSA, Principle City",0.0,0.0,0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,45 - 54 Years,Some College,White,Female,Married,Employed,"MSA, Not Principle City",1.0,0.0,0

In [ ]:
df.isnull().sum()

h1n1_worry                     92
h1n1_awareness                116
antiviral_medication           71
contact_avoidance             208
bought_face_mask               19
wash_hands_frequently          42
avoid_large_gatherings         87
reduced_outside_home_cont      82
avoid_touch_face              128
chronic_medic_condition       971
cont_child_undr_6_mnths       820
is_health_worker              804
is_h1n1_vacc_effective        391
is_h1n1_risky                 388
sick_from_h1n1_vacc           395
is_seas_vacc_effective        462
is_seas_risky                 514
sick_from_seas_vacc           537
age_bracket                     0
qualification                1407
race                            0
sex                             0
marital_status               1408
employment                   1463
census_msa                      0
no_of_adults                  249
no_of_children                249
h1n1_vaccine                    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   h1n1_worry                 26615 non-null  float64
 1   h1n1_awareness             26591 non-null  float64
 2   antiviral_medication       26636 non-null  float64
 3   contact_avoidance          26499 non-null  float64
 4   bought_face_mask           26688 non-null  float64
 5   wash_hands_frequently      26665 non-null  float64
 6   avoid_large_gatherings     26620 non-null  float64
 7   reduced_outside_home_cont  26625 non-null  float64
 8   avoid_touch_face           26579 non-null  float64
 9   chronic_medic_condition    25736 non-null  float64
 10  cont_child_undr_6_mnths    25887 non-null  float64
 11  is_health_worker           25903 non-null  float64
 12  is_h1n1_vacc_effective     26316 non-null  float64
 13  is_h1n1_risky              26319 non-null  float64
 14  sick_from_h1n1_vacc        26312 non-null  float64
 15  is_seas_vacc_effective     26245 non-null  float64
 16  is_seas_risky              26193 non-null  float64
 17  sick_from_seas_vacc        26170 non-null  float64
 18  age_bracket                26707 non-null  object
 19  qualification              25300 non-null  object
 20  race                       26707 non-null  object
 21  sex                        26707 non-null  object
 22  marital_status             25299 non-null  object
 23  employment                 25244 non-null  object
 24  census_msa                 26707 non-null  object
 25  no_of_adults               26458 non-null  float64
 26  no_of_children             26458 non-null  float64
 27  h1n1_vaccine               26707 non-null  int64
dtypes: float64(20), int64(1), object(7)
memory usage: 5.7+ MB

In [ ]:
float_columns=df.select_dtypes("float")

In [ ]:
float_columns.head()

,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,chronic_medic_condition,cont_child_undr_6_mnths,is_health_worker,is_h1n1_vacc_effective,is_h1n1_risky,sick_from_h1n1_vacc,is_seas_vacc_effective,is_seas_risky,sick_from_seas_vacc,no_of_adults,no_of_children
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,3.0,1.0,2.0,2.0,1.0,2.0,0.0,0.0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,5.0,4.0,4.0,4.0,2.0,4.0,0.0,0.0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0,1.0,4.0,1.0,2.0,2.0,0.0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,3.0,5.0,5.0,4.0,1.0,0.0,0.0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,3.0,2.0,3.0,1.0,4.0,1.0,0.0

In [ ]:
 float_str=float_columns.astype("O")

In [ ]:
float_str["h1n1_worry"].fillna(2.0,inplace=True)
float_str["h1n1_awareness"].fillna(1.0,inplace=True)
float_str["antiviral_medication"].fillna(1.0,inplace=True)
float_str["contact_avoidance"].fillna(1.0,inplace=True)
float_str["bought_face_mask"].fillna(0.0,inplace=True)
float_str["wash_hands_frequently"].fillna(1.0,inplace=True)
float_str["avoid_large_gatherings"].fillna(0.0,inplace=True)
float_str["reduced_outside_home_cont"].fillna(0.0,inplace=True)
float_str["avoid_touch_face"].fillna(1.0,inplace=True)
float_str["chronic_medic_condition"].fillna(0.0,inplace=True)
float_str["cont_child_undr_6_mnths"].fillna(0.0,inplace=True)
float_str["is_health_worker"].fillna(0.0,inplace=True)
float_str["is_h1n1_vacc_effective"].fillna(4.0,inplace=True)
float_str["is_h1n1_risky"].fillna(2.0,inplace=True)
float_str["is_seas_vacc_effective"].fillna(4.0,inplace=True)
float_str["is_seas_risky"].fillna(2.0,inplace=True)
float_str["sick_from_seas_vacc"].fillna(1.0,inplace=True)
float_str["no_of_adults"].fillna(1.0,inplace=True)
float_str["no_of_children"].fillna(0.0,inplace=True)
float_str["sick_from_h1n1_vacc"].fillna(2.0,inplace=True)

In [ ]:
 float_str.isnull().sum()

h1n1_worry                   0
h1n1_awareness               0
antiviral_medication         0
contact_avoidance            0
bought_face_mask             0
wash_hands_frequently        0
avoid_large_gatherings       0
reduced_outside_home_cont    0
avoid_touch_face             0
chronic_medic_condition      0
cont_child_undr_6_mnths      0
is_health_worker             0
is_h1n1_vacc_effective       0
is_h1n1_risky                0
sick_from_h1n1_vacc          0
is_seas_vacc_effective       0
is_seas_risky                0
sick_from_seas_vacc          0
no_of_adults                 0
no_of_children               0
dtype: int64

In [ ]:
float_str.isnull().sum()

h1n1_worry                   0
h1n1_awareness               0
antiviral_medication         0
contact_avoidance            0
bought_face_mask             0
wash_hands_frequently        0
avoid_large_gatherings       0
reduced_outside_home_cont    0
avoid_touch_face             0
chronic_medic_condition      0
cont_child_undr_6_mnths      0
is_health_worker             0
is_h1n1_vacc_effective       0
is_h1n1_risky                0
sick_from_h1n1_vacc          0
is_seas_vacc_effective       0
is_seas_risky                0
sick_from_seas_vacc          0
no_of_adults                 0
no_of_children               0
dtype: int64

In [ ]:
float_str.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   h1n1_worry                 26707 non-null  float64
 1   h1n1_awareness             26707 non-null  float64
 2   antiviral_medication       26707 non-null  float64
 3   contact_avoidance          26707 non-null  float64
 4   bought_face_mask           26707 non-null  float64
 5   wash_hands_frequently      26707 non-null  float64
 6   avoid_large_gatherings     26707 non-null  float64
 7   reduced_outside_home_cont  26707 non-null  float64
 8   avoid_touch_face           26707 non-null  float64
 9   chronic_medic_condition    26707 non-null  float64
 10  cont_child_undr_6_mnths    26707 non-null  float64
 11  is_health_worker           26707 non-null  float64
 12  is_h1n1_vacc_effective     26707 non-null  float64
 13  is_h1n1_risky              26707 non-null  float64
 14  sick_from_h1n1_vacc        26707 non-null  float64
 15  is_seas_vacc_effective     26707 non-null  float64
 16  is_seas_risky              26707 non-null  float64
 17  sick_from_seas_vacc        26707 non-null  float64
 18  no_of_adults               26707 non-null  float64
 19  no_of_children             26707 non-null  float64
dtypes: float64(20)
memory usage: 4.1 MB

In [ ]:
# for i in float_str:
  #  float_str[i] = float_str[i].astype(float)

In [ ]:
float_str.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   h1n1_worry                 26707 non-null  float64
 1   h1n1_awareness             26707 non-null  float64
 2   antiviral_medication       26707 non-null  float64
 3   contact_avoidance          26707 non-null  float64
 4   bought_face_mask           26707 non-null  float64
 5   wash_hands_frequently      26707 non-null  float64
 6   avoid_large_gatherings     26707 non-null  float64
 7   reduced_outside_home_cont  26707 non-null  float64
 8   avoid_touch_face           26707 non-null  float64
 9   chronic_medic_condition    26707 non-null  float64
 10  cont_child_undr_6_mnths    26707 non-null  float64
 11  is_health_worker           26707 non-null  float64
 12  is_h1n1_vacc_effective     26707 non-null  float64
 13  is_h1n1_risky              26707 non-null  float64
 14  sick_from_h1n1_vacc        26707 non-null  float64
 15  is_seas_vacc_effective     26707 non-null  float64
 16  is_seas_risky              26707 non-null  float64
 17  sick_from_seas_vacc        26707 non-null  float64
 18  no_of_adults               26707 non-null  float64
 19  no_of_children             26707 non-null  float64
dtypes: float64(20)
memory usage: 4.1 MB

In [ ]:
float_str.head()

,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,chronic_medic_condition,cont_child_undr_6_mnths,is_health_worker,is_h1n1_vacc_effective,is_h1n1_risky,sick_from_h1n1_vacc,is_seas_vacc_effective,is_seas_risky,sick_from_seas_vacc,no_of_adults,no_of_children
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,3.0,1.0,2.0,2.0,1.0,2.0,0.0,0.0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,5.0,4.0,4.0,4.0,2.0,4.0,0.0,0.0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0,1.0,4.0,1.0,2.0,2.0,0.0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,3.0,5.0,5.0,4.0,1.0,0.0,0.0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,3.0,2.0,3.0,1.0,4.0,1.0,0.0

In [ ]:
float_str.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   h1n1_worry                 26707 non-null  float64
 1   h1n1_awareness             26707 non-null  float64
 2   antiviral_medication       26707 non-null  float64
 3   contact_avoidance          26707 non-null  float64
 4   bought_face_mask           26707 non-null  float64
 5   wash_hands_frequently      26707 non-null  float64
 6   avoid_large_gatherings     26707 non-null  float64
 7   reduced_outside_home_cont  26707 non-null  float64
 8   avoid_touch_face           26707 non-null  float64
 9   chronic_medic_condition    26707 non-null  float64
 10  cont_child_undr_6_mnths    26707 non-null  float64
 11  is_health_worker           26707 non-null  float64
 12  is_h1n1_vacc_effective     26707 non-null  float64
 13  is_h1n1_risky              26707 non-null  float64
 14  sick_from_h1n1_vacc        26707 non-null  float64
 15  is_seas_vacc_effective     26707 non-null  float64
 16  is_seas_risky              26707 non-null  float64
 17  sick_from_seas_vacc        26707 non-null  float64
 18  no_of_adults               26707 non-null  float64
 19  no_of_children             26707 non-null  float64
dtypes: float64(20)
memory usage: 4.1 MB

In [ ]:
str=df.select_dtypes("O")

In [ ]:
str.head()

,age_bracket,qualification,race,sex,marital_status,employment,census_msa
0,55 - 64 Years,< 12 Years,White,Female,Not Married,Not in Labor Force,Non-MSA
1,35 - 44 Years,12 Years,White,Male,Not Married,Employed,"MSA, Not Principle City"
2,18 - 34 Years,College Graduate,White,Male,Not Married,Employed,"MSA, Not Principle City"
3,65+ Years,12 Years,White,Female,Not Married,Not in Labor Force,"MSA, Principle City"
4,45 - 54 Years,Some College,White,Female,Married,Employed,"MSA, Not Principle City"

In [ ]:
str.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age_bracket     26707 non-null  object
 1   qualification   25300 non-null  object
 2   race            26707 non-null  object
 3   sex             26707 non-null  object
 4   marital_status  25299 non-null  object
 5   employment      25244 non-null  object
 6   census_msa      26707 non-null  object
dtypes: object(7)
memory usage: 1.4+ MB

In [ ]:
str.isnull().sum()

age_bracket          0
qualification     1407
race                 0
sex                  0
marital_status    1408
employment        1463
census_msa           0
dtype: int64

In [ ]:
str["qualification"].mode()

0    College Graduate
dtype: object

In [ ]:
str["marital_status"].mode()

0    Married
dtype: object

In [ ]:
str["employment"].mode()

0    Employed
dtype: object

In [ ]:
str["qualification"].fillna("College Graduate",inplace=True)

In [ ]:
str["marital_status"].fillna("Married",inplace=True)

In [ ]:
str["employment"].fillna("Employed",inplace=True)

In [ ]:
str.isnull().sum()

age_bracket       0
qualification     0
race              0
sex               0
marital_status    0
employment        0
census_msa        0
dtype: int64

In [ ]:
str.head()

,age_bracket,qualification,race,sex,marital_status,employment,census_msa
0,55 - 64 Years,< 12 Years,White,Female,Not Married,Not in Labor Force,Non-MSA
1,35 - 44 Years,12 Years,White,Male,Not Married,Employed,"MSA, Not Principle City"
2,18 - 34 Years,College Graduate,White,Male,Not Married,Employed,"MSA, Not Principle City"
3,65+ Years,12 Years,White,Female,Not Married,Not in Labor Force,"MSA, Principle City"
4,45 - 54 Years,Some College,White,Female,Married,Employed,"MSA, Not Principle City"

In [ ]:
float_str.head()

,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,chronic_medic_condition,cont_child_undr_6_mnths,is_health_worker,is_h1n1_vacc_effective,is_h1n1_risky,sick_from_h1n1_vacc,is_seas_vacc_effective,is_seas_risky,sick_from_seas_vacc,no_of_adults,no_of_children
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,3.0,1.0,2.0,2.0,1.0,2.0,0.0,0.0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,5.0,4.0,4.0,4.0,2.0,4.0,0.0,0.0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0,1.0,4.0,1.0,2.0,2.0,0.0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,3.0,5.0,5.0,4.0,1.0,0.0,0.0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,3.0,3.0,2.0,3.0,1.0,4.0,1.0,0.0

In [ ]:
data=float_str.join(str)

In [ ]:
data.isnull().sum()

h1n1_worry                   0
h1n1_awareness               0
antiviral_medication         0
contact_avoidance            0
bought_face_mask             0
wash_hands_frequently        0
avoid_large_gatherings       0
reduced_outside_home_cont    0
avoid_touch_face             0
chronic_medic_condition      0
cont_child_undr_6_mnths      0
is_health_worker             0
is_h1n1_vacc_effective       0
is_h1n1_risky                0
sick_from_h1n1_vacc          0
is_seas_vacc_effective       0
is_seas_risky                0
sick_from_seas_vacc          0
no_of_adults                 0
no_of_children               0
age_bracket                  0
qualification                0
race                         0
sex                          0
marital_status               0
employment                   0
census_msa                   0
dtype: int64

In [ ]:
data.head()

,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,chronic_medic_condition,...,sick_from_seas_vacc,no_of_adults,no_of_children,age_bracket,qualification,race,sex,marital_status,employment,census_msa
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,2.0,0.0,0.0,55 - 64 Years,< 12 Years,White,Female,Not Married,Not in Labor Force,Non-MSA
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,4.0,0.0,0.0,35 - 44 Years,12 Years,White,Male,Not Married,Employed,"MSA, Not Principle City"
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,2.0,2.0,0.0,18 - 34 Years,College Graduate,White,Male,Not Married,Employed,"MSA, Not Principle City"
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,1.0,0.0,0.0,65+ Years,12 Years,White,Female,Not Married,Not in Labor Force,"MSA, Principle City"
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,4.0,1.0,0.0,45 - 54 Years,Some College,White,Female,Married,Employed,"MSA, Not Principle City"

In [ ]:
data=data.join(df["h1n1_vaccine"])

In [ ]:
data.head()

,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,chronic_medic_condition,...,no_of_adults,no_of_children,age_bracket,qualification,race,sex,marital_status,employment,census_msa,h1n1_vaccine
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,55 - 64 Years,< 12 Years,White,Female,Not Married,Not in Labor Force,Non-MSA,0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,35 - 44 Years,12 Years,White,Male,Not Married,Employed,"MSA, Not Principle City",0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,2.0,0.0,18 - 34 Years,College Graduate,White,Male,Not Married,Employed,"MSA, Not Principle City",0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,65+ Years,12 Years,White,Female,Not Married,Not in Labor Force,"MSA, Principle City",0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,1.0,0.0,45 - 54 Years,Some College,White,Female,Married,Employed,"MSA, Not Principle City",0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   h1n1_worry                 26707 non-null  float64
 1   h1n1_awareness             26707 non-null  float64
 2   antiviral_medication       26707 non-null  float64
 3   contact_avoidance          26707 non-null  float64
 4   bought_face_mask           26707 non-null  float64
 5   wash_hands_frequently      26707 non-null  float64
 6   avoid_large_gatherings     26707 non-null  float64
 7   reduced_outside_home_cont  26707 non-null  float64
 8   avoid_touch_face           26707 non-null  float64
 9   chronic_medic_condition    26707 non-null  float64
 10  cont_child_undr_6_mnths    26707 non-null  float64
 11  is_health_worker           26707 non-null  float64
 12  is_h1n1_vacc_effective     26707 non-null  float64
 13  is_h1n1_risky              26707 non-null  float64
 14  sick_from_h1n1_vacc        26707 non-null  float64
 15  is_seas_vacc_effective     26707 non-null  float64
 16  is_seas_risky              26707 non-null  float64
 17  sick_from_seas_vacc        26707 non-null  float64
 18  no_of_adults               26707 non-null  float64
 19  no_of_children             26707 non-null  float64
 20  age_bracket                26707 non-null  object
 21  qualification              26707 non-null  object
 22  race                       26707 non-null  object
 23  sex                        26707 non-null  object
 24  marital_status             26707 non-null  object
 25  employment                 26707 non-null  object
 26  census_msa                 26707 non-null  object
 27  h1n1_vaccine               26707 non-null  int64
dtypes: float64(20), int64(1), object(7)
memory usage: 5.7+ MB

In [ ]:
data=pd.get_dummies(data,drop_first=True)

In [ ]:
data.head()

,h1n1_worry,h1n1_awareness,antiviral_medication,contact_avoidance,bought_face_mask,wash_hands_frequently,avoid_large_gatherings,reduced_outside_home_cont,avoid_touch_face,chronic_medic_condition,...,qualification_College Graduate,qualification_Some College,race_White,race_others,sex_Male,marital_status_Not Married,employment_Not in Labor Force,employment_Unemployed,"census_msa_MSA, Principle City",census_msa_Non-MSA
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0,0,1,0,0,1,1,0,0,1
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0,0,1,0,1,1,0,0,0,0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1,0,1,0,1,1,0,0,0,0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0,0,1,0,0,1,1,0,1,0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0,1,1,0,0,0,0,0,0,0

In [ ]:
data.isnull().sum()*100/len(data)

h1n1_worry                        0.0
h1n1_awareness                    0.0
antiviral_medication              0.0
contact_avoidance                 0.0
bought_face_mask                  0.0
wash_hands_frequently             0.0
avoid_large_gatherings            0.0
reduced_outside_home_cont         0.0
avoid_touch_face                  0.0
chronic_medic_condition           0.0
cont_child_undr_6_mnths           0.0
is_health_worker                  0.0
is_h1n1_vacc_effective            0.0
is_h1n1_risky                     0.0
sick_from_h1n1_vacc               0.0
is_seas_vacc_effective            0.0
is_seas_risky                     0.0
sick_from_seas_vacc               0.0
no_of_adults                      0.0
no_of_children                    0.0
h1n1_vaccine                      0.0
age_bracket_35 - 44 Years         0.0
age_bracket_45 - 54 Years         0.0
age_bracket_55 - 64 Years         0.0
age_bracket_65+ Years             0.0
qualification_< 12 Years          0.0
qualification_College Graduate    0.0
qualification_Some College        0.0
race_White                        0.0
race_others                       0.0
sex_Male                          0.0
marital_status_Not Married        0.0
employment_Not in Labor Force     0.0
employment_Unemployed             0.0
census_msa_MSA, Principle City    0.0
census_msa_Non-MSA                0.0
dtype: float64

In [ ]:
x=data.drop(["h1n1_vaccine"],axis=1)
y=data["h1n1_vaccine"]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from sklearn.datasets import make_classification
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2,random_state=2)

In [ ]:
sgdc = SGDClassifier()

In [ ]:
sgdc.fit(x_train, y_train)

SGDClassifier()

### After the training the classifier, we'll check the model accuracy score.

In [ ]:
score = sgdc.score(x_train, y_train)
print("Training score: ", score)

Training score:  0.8065059677041891

### Predicting and accuracy check

In [ ]:
ypred = sgdc.predict(x_test)

cm = confusion_matrix(y_test, ypred)
print(cm)

[[4129   49]
 [ 991  173]]

### classification report on test dataset

In [ ]:
print(classification_report(y_test, ypred))

              precision    recall  f1-score   support

           0       0.81      0.99      0.89      4178
           1       0.78      0.15      0.25      1164

    accuracy                           0.81      5342
   macro avg       0.79      0.57      0.57      5342
weighted avg       0.80      0.81      0.75      5342